<div class="jumbotron secontron">
  <div class="container marketing">
    <h1 class="namoy-font">Escríbenos</h1>
  </div>
</div><!-- /.container -->


<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        Comparte con nosotros tus dudas, sugerencias y experiencias.
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
  


<!-- Content
================================================== -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-container">
      <%= form_for @message, url: contact_path do |f| %>
        <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
            </h2>

            <ul>
              <% @message.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p class="notice"><%= flash[:notice] %></p>

        <h1 class="contitle center"><i class="fa fa-envelope-o fa-2x orange"></i></h1>

        <hr class="orange">

        <div class="form-group">
          <%= f.label :name, "Nombre", class: "lead" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, class: "lead" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :subject, "Asunto", class: "lead" %>
          <%= f.text_field :subject, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :message, "Mensaje", class: "lead" %>
          <%= f.text_area :message, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit 'Enviar', class: "btn btn-lg btn-primary", role: "button" %>
        </div>
      <% end %>
      </div><!-- /.form-conteiner -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4"></div>
  </div><!-- /.row -->
  <p class="page-links"><%= link_to 'Ir a "Encuéntranos"', partners_path, class: "recipe-link" %></p>
</div><!-- /.container -->
