<div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1 class="namoy-font">Encuéntranos</h1>
  </div>
</div><!-- /.container -->

<div class="container marketing">  
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        <span class="glyphicon glyphicon-map-marker orange smaller-text" aria-hidden="true"></span> 
        Encuentra nuestros productos en alguno de estos lugares 
        <span class="glyphicon glyphicon-map-marker orange smaller-text" aria-hidden="true"></span>
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 

  <div class="row">  
    <p id="notice"><%= notice %></p>
    <% if @partners.size > 0 %>
      <% @partners.each do |partner| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag "https://unsplash.it/800/500?image=312", alt: "Chocolate Muffins", class: "featurette-image img-responsive center-block" %> 
            <div class="caption">
              <h3 class="thumbnail-name"><%= partner.name %></h3>
              <p class="lead partner-info">País: <%= partner.country %></p>
              <p class="lead partner-info">Ciudad: <%= partner.city %></p>
              <ul id="partner-social">
                <li>
                  <%= link_to '<i class="fa fa-instagram fa-2x"></i>'.html_safe, 
                              partner.instagram, 
                              :target => "_blank" %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-facebook-square fa-2x"></i>'.html_safe, 
                              partner.facebook, 
                              :target => "_blank" %>
                </li>
                <li>
                  <%= link_to '<i class="fa fa-globe fa-2x"></i>'.html_safe, 
                              partner.website, 
                              :target => "_blank" %>
                </li>
              </ul><!-- /.social-links -->
              <p class="enlaces"><%= link_to 'Ver distribuidor', partner %></p>
            </div><!-- /.caption -->
          </div><!-- /.thumbnail -->
        </div><!-- /.col-sm-6 -->
      <% end %>
    <% else %>
      <div class="col-md-12">
        <p class="with-border">
          Dentro de poco encontrarás a todos nuestros distribuidores en este espacio.
        </p>
      </div>
    <% end %>   
  </div><!-- /.row -->

  <p class="page-links"><%= link_to 'Agregar distribuidor', new_partner_path, class: "new-recipe-link" %></p>

  <div class="row">
    <div class="col-lg-12 with-border" id="contact-box">
      <h2 class="center">
        Escríbenos si tienes dudas, sugerencias o simplemente nos quieres compartir tu experiencia con nuestros productos
      </h2>
      <p id="center-button">
        <a class="btn btn-primary btn-lg" href="/contact" role="button">Escríbenos</a>
      </p>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  

  


  
</div><!-- /.container -->
