<div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1 class="namoy-font smaller-title"><%= @partner.name %></h1>
  </div>
</div><!-- /.container -->


<div class="container marketing">

  <ul>
    <li><%= @partner.logo %></li>
    <li>País: <%= @partner.country %></li>
    <li>Ciudad: <%= @partner.city %></li>
    <li>Instagram: <%= @partner.instagram %></li>
    <li>Facebook: <%= @partner.facebook %></li>
    <li>Website: <%= @partner.website %></li>
  </ul>

  <p class="page-links">
    <%= link_to 'Ir a "Encuéntranos"', partners_path, class: "recipe-link" %> <span class="orange">|</span> 
    <%= link_to 'Editar', edit_partner_path(@partner), class: "recipe-link" %> <span class="orange">|</span>  
    <%= link_to 'Eliminar distribuidor', @partner, method: :delete, data: { confirm: '¿Seguro que quieres eliminar este distribuidor?' }, class: "recipe-link" %>
  </p>
</div><!-- /.container -->