<div class="jumbotron secontron" id="usesjumbo">
  <div class="container marketing">
    <h1 class="namoy-font smaller-title"><%= @partner.name %></h1>
  </div>
</div><!-- /.container -->


<div class="container marketing">

  <ul class="ideas partner-show lead">
    <li><%= image_tag @partner.logo, alt: @partner.name + " logo" , class: "featurette-image img-responsive" %></li>
    <li><strong>Imagen actual:</strong> <%= @partner.image_name %></li>
    <li><strong>País:</strong> <%= @partner.country %></li>
    <li><strong>Ciudad:</strong> <%= @partner.city %></li>
    <li><strong>Instagram:</strong> <%= @partner.instagram %></li>
    <li><strong>Facebook:</strong> <%= @partner.facebook %></li>
    <li><strong>Website:</strong> <%= @partner.website %></li>
  </ul>

  <p class="page-links">
    <%= link_to 'Ir a "Encuéntranos"', partners_path, class: "recipe-link" %> <span class="orange">|</span> 
    <%= link_to 'Editar', edit_partner_path(@partner), class: "recipe-link" %> <span class="orange">|</span>  
    <%= link_to 'Eliminar distribuidor', @partner, method: :delete, data: { confirm: '¿Seguro que quieres eliminar este distribuidor?' }, class: "recipe-link" %>
  </p>
</div><!-- /.container -->