<div class="jumbotron secontron" id="back-usos">
  <div class="container marketing">
    <h1 class="namoy-font">Usos</h1>
  </div>
</div><!-- /.container -->

<% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
<% end %>

<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center"> 
        NA-MOY PANELA EN POLVO es amigable contigo y tu cocina
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <hr class="underline"> 
</div><!-- /.container -->


<div class="container marketing">  
  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <p class="lead"> 
        Usa tu creatividad en diferentes recetas y encuentra ideas en nuestra página y redes sociales.
      </p>
      <ul class="ideas lead">
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Endulza una taza de café o un té</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Cocina y hornea</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Decora postres y frutas</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Endulza un cereal</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Disuelve una cucharada en agua fría, caliente o frappé</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Úsalo como topping en un yogurth dietético o griego</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Espolvorea un poco sobre tus alimentos preferidos</li>
        <li><span class="glyphicon glyphicon-grain orange" aria-hidden="true"></span> Prepara salsas para diferentes platos</li>
      </ul>
    </div><!-- /.col-md-7 -->
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag "usos.jpg", alt: "Table with cups", class: "featurette-image img-responsive center-block" %>
    </div><!-- /.col-md-5 -->
  </div><!-- /.row -->      
<!-- "https://unsplash.it/800/540?image=635" -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="center">
        Deliciosas sugerencias para preparar en casa
      </h2>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  
  <hr class="underline" id="under-uses"> 

  <div class="row radio-buttons">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <%= radio_button_tag(:flavor, "natural") %> <i class="fa fa-lemon-o" aria-hidden="true"></i>
      <%= label_tag(:natural, "Natural", class: "lead") %>
    </div><!-- /.col-md-2 -->
    <div class="col-md-2">
      <%= radio_button_tag(:flavor, "naranja") %> <i class="fa fa-lemon-o orange" aria-hidden="true"></i>
      <%= label_tag(:orange, "Naranja", class: "lead") %>
    </div><!-- /.col-md-2 -->
    <div class="col-md-2">
      <%= radio_button_tag(:flavor, "limon") %> <i class="fa fa-lemon-o green" aria-hidden="true"></i>
      <%= label_tag(:lemon, "Limón", class: "lead") %>
    </div><!-- /.col-md-2 -->
    <div class="col-md-3">
      <%= radio_button_tag(:flavor, "All", true) %> 
      <i class="fa fa-lemon-o" aria-hidden="true"></i>
      <i class="fa fa-lemon-o orange" aria-hidden="true"></i>
      <i class="fa fa-lemon-o green" aria-hidden="true"></i>
      <%= label_tag(:lemon, "Todas", class: "lead") %>
    </div><!-- /.col-md-3 -->
    <div class="col-md-2"></div>
  </div><!-- /.radio-buttons -->

  <div class="row">  
    <p id="notice"><%= notice %></p>
    <% @recipes.each do |recipe| %>
      <div class="col-sm-6 col-md-4 <%= recipe.flavor %>">
        <div class="thumbnail recithumb">
          <%= image_tag recipe.image, alt: recipe.name, class: "featurette-image img-responsive center-block" %> 
          <!-- https://unsplash.it/800/500?image=312 -->
          <!-- "muffins_chocolate.jpeg" -->
          <div class="caption">
            <h3 class="thumbnail-name">
              <i class="fa fa-lemon-o <%= recipe.flavor %>-color" aria-hidden="true"></i> 
              <%= recipe.name %>
            </h3>
            <p class="lead">Tiempo de preparación: <%= recipe.time_ready %></p>
            <p class="lead">Cantidad: <%= recipe.quantity %></p>
            <p class="recipar"><%= link_to "Ver receta", recipe, class: "btn btn-primary", role: "button" %></p>
          </div><!-- /.caption -->
        </div><!-- /.thumbnail -->
      </div><!-- /.col-sm-6 -->
    <% end %>   

  </div><!-- /.row -->
  <% if logged_in? %>
    <p class="page-links"><%= link_to 'Agregar receta', new_recipe_path, class: "new-recipe-link" %></p>
  <% end %>
</div><!-- /.container -->
