<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-default transparent navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("logo_blanco_letras.png", size: "94x30", alt: "Logo Namoy"), root_path, class: "navbar-brand", id: "logo" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><%= link_to "Terminar Sesión", terminar_sesion_path, method: :delete, class: "small-link" %></li>
            <% end %>
            <li><%= link_to "Productos", root_path %></li>
            <li><%= link_to "Usos", uses_path %></li>
            <li><%= link_to "Encuéntranos", locations_path %></li>
            <li><%= link_to "Nosotros", about_path %></li>
            <li class="dropdown" id="language">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="language">esp<span class="caret"></span></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">esp</a></li>
                <li><a href="#">eng</a></li>        
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>